.background-image {
  background: url("https://cdn.tourcms.com/a/11676/2576/1/large.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
